<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- UCS CSS -->
    <link rel="stylesheet" href="{% static 'css/simplificado.css' %}" >

    <!-- Rotas CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/rotas.css' %}" >
    
    <!--CharJs  https://www.chartjs.org/docs/latest/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  crossorigin="anonymous">


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"      rel="stylesheet">




    <title>{% block head_title %}{% endblock %} Rotas do Conhecimento</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    {% include 'banner.html' %}
    <div class='container-fluid' style='max-width: 800px; padding-right:0px;padding-left:0px'>
        {% block content %}

        {% endblock %}
    </div>

    {% include 'js.html' %}
    {% block scripts %}

    {% endblock %}
  </body>
</html>